<html>
<head>
    <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.css">
</head>
<body>
<div class="main gt-bg-theme-color-first">
    <%- include('./includes/header') %>
    <div class="post-container">
        <div class="post-detail gt-bg-theme-color-second">
            <article class="gt-post-content">
                <h2 class="post-title">
                    <%= post.title %>
                </h2>
                <div class="post-info">
                    <time class="post-time gt-c-content-color-first">
                        · <%= post.dateFormat %> ·
                    </time>
                    <% post.tags.forEach(function(tag) { %>
                        <a href="<%= tag.link %>" class="post-tags">
                            # <%= tag.name %>
                        </a>
                    <% }); %>
                </div>
                <% if (themeConfig.showFeatureImage && post.feature) { %>
                    <img class="post-feature-image" src="<%= post.feature %>" alt="">
                <% } %>
                <div class="post-content">
                    <%- post.content %>
                </div>
            </article>
            <div class="toc-container"><%- post.toc %></div>
        </div>

        <% if (post.nextPost && !post.hideInList) { %>
            <div class="next-post">
                <div class="next gt-c-content-color-first">下一篇</div>
                <a href="<%= post.nextPost.link %>" class="post-title gt-a-link">
                    <%= post.nextPost.title %>
                </a>
            </div>
        <% } %>

        <% if(site.customConfig['valine'] && site.customConfig['visitor']) { %>
            <span id="/post/<%= post.link.split('/')[4] %>/" class="leancloud_visitors" data-flag-title="<%= post.title %>">
                <em class="post-meta-item-text">阅读量 </em>
                <i class="leancloud-visitors-count">loading...</i>
            </span>
        <% } %>

        <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
            <% if (commentSetting.commentPlatform === 'gitalk') { %>
                <%- include('./includes/gitalk') %>
            <% } %>

            <% if (commentSetting.commentPlatform === 'disqus') { %>
                <%- include('./includes/disqus') %>
            <% } %>
        <% } %>

        <% if(typeof site.customConfig['valine']!=='undefined' && site.customConfig['valine']) { %>
            <%- include('./includes/valine') %>
        <% } %>

        <%- include('./includes/footer') %>
    </div>
</div>
<script>
    "use strict";!function(){for(var n=document.getElementsByTagName("pre"),e=n.length,s=0;s<e;s++){for(var a=n[s].innerHTML.split(/\n/).length,r=0;r<a-1;r++){n[s].getElementsByTagName("span")[0].innerHTML+="<span>"+(r+1)+"</span>"}}}();
    let mainNavLinks=document.querySelectorAll(".markdownIt-TOC a");window.addEventListener("scroll",event=>{let fromTop=window.scrollY;mainNavLinks.forEach((link,index)=>{let section=document.getElementById(decodeURI(link.hash).substring(1));let nextSection=null
    if(mainNavLinks[index+1]){nextSection=document.getElementById(decodeURI(mainNavLinks[index+1].hash).substring(1));}
    if(section.offsetTop<=fromTop){if(nextSection){if(nextSection.offsetTop>fromTop){link.classList.add("currentToc");}else{link.classList.remove("currentToc");}}else{link.classList.add("currentToc");}}else{link.classList.remove("currentToc");}});});
    var list=document.querySelectorAll(".katex");for(var i=0;i<list.length;i++){list[i].style.display="unset"};
    var h=document.documentElement,b=document.body,st="scrollTop",sh="scrollHeight",progress=document.querySelector(".progress"),scroll;document.addEventListener("scroll",function(){scroll=(h[st]||b[st])/((h[sh]||b[sh])-h.clientHeight)*100;progress.style.setProperty("--scroll",scroll+"%")});
    var wxScale=new WxScale({fullPage:document.querySelector("#fullPage"),canvas:document.querySelector("#canvas")});var imgBox=document.querySelectorAll("#md_block img");for(var i=0;i<imgBox.length;i++){imgBox[i].onclick=function(e){wxScale.start(this)}};
    content="本文最后更新于<%= post.dateFormat %>，已超过 1 年没有更新，涉及的内容可能已经失效！";var date1="<%= post.date %>";date1=date1.replace("-","/");var date2=new Date();var date3=date2.getTime()-new Date(date1).getTime();var days=Math.floor(date3/(24*3600*1000));if(days>=365){document.getElementById("warn").innerHTML=content};
    </script>
</body>
</html>
